/*
	* Author:           IskaIV
	*
	* MainPageIVstyle.css
	* ------------------------
	* Style sheet for MainPage.html
*/


html,
body {
	height: max-content;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(#782F40, #74172d, #782F40);
}

h1 {
	color: #220707;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

h2 {
	border: 2px solid #782F40;
	padding: 5px;
	font-size: 20px;
}

h3 {
	border: 2px solid #782F40;
	font-weight: normal;
	padding: 10px;
	font-size: 18px;
}

.outer-border {
	border: 2px solid #CEB888;
	height: max-content;
	min-width: 90%;
	padding: 10px;
	margin: 10px;
}

.mid-border {
	border: 6px solid #CEB888;
	min-height: 100vh;
	min-width: 96%;
	padding: 6px;
	padding-right: 10px;

}

.inner-border {
	position: relative;
	border: 2px solid #CEB888;
	min-height: max-content;
	min-width: 100%;
	margin: auto;
}

.logo {
	text-align: center;
	margin: 10px;
	margin-left: 15px;
}

.logo img {
	width: 60px;
	height: 60px;
}


.search-bar {
	top: 45px;
	right: 90px;
	position: fixed;
	transform: translate(10%, 20%);
	background: #2f3640;
	border-radius: 40px;
	height: 30px;
	padding: 7px;
}

.search-bar-btn {
	border: none;
	background: #CEB888;
	border-radius: 50%;
	float: right;
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	outline: none;
	transition: 0.6s;
	font-weight: bold;
	color: #FFFFFF;
}

.search-bar-txt {
	background: none;
	border: none;
	outline: none;
	padding: 0px;
	font-size: 16px;
	transition: 0.6s;
	color: crimson;
	font-weight: bold;
	line-height: 30px;
	width: 0px;
}

.search-bar:hover .search-bar-txt {
	width: 240px;
	padding: 0 6px;
}

.search-bar:hover .search-bar-btn {
	background: crimson;
	color: #FFFFFF;
	box-shadow: 0px 5px 20px 0px crimson;
}

.corners {
	background: #978b8b;
	height: max-content;
	margin: 50px auto;
	width: 700px;
	position: relative;
	min-height: 100vh;
	box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
	background-attachment: fixed;
	background-blend-mode: multiply;
}

.corners:after,
.corners:before {
	background: #782F40;
	content: '';
	height: 50px;
	position: absolute;
	top: -25px;
	width: 100px;
	box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
}

.corners:after {
	left: -50px;
	transform: rotate(-45deg);
}

.corners:before {
	right: -50px;
	transform: rotate(45deg);
}


.feed {
	margin: 0 auto;
	width: 600px;
	padding: 45px 0;
}

.post {
	width: 100%;
	background-color: #fff;
	margin: 13px;
	margin-left: -16px;
	min-height: 100px;
	border: 3px solid #CEB888;
	border-radius: 3px;
	padding: 12px 15px;
}

.post__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Content */
.post__content {
	padding: 14px 8px;
}

.p {
	font-size: 16px;
	color: #1d2129;
}

.post__footer {
	padding: 2px 10px;
}

.footer-link {
	color: red;
	margin: 0 30px 0 0;
	text-decoration: none;
	font-size: 14px;
	color: #aaa;
}

.footer-link:hover {
	color: #1da1f2;
}

.footer-icon {
	fill: currentColor;
	margin-right: 4px;
	display: inline-block;
	font-size: 24px;
}

.footer-link:nth-child(2):hover {
	color: #17bf63;
}

.footer-link:nth-child(3):hover {
	color: #F44336;
}