/*
    FSU Color Scheme:
    #782F40 for Garnet
    #CEB888 for Gold
    #FFFFFF for White
    #000000 for Black
*/



/* ===================== Website Body ===================== */
body {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-family: Arial, sans-serif;
    /* Set default font */
    background-color: #782F40;
    /* Set background color */
}

.outer-border {
    border: 2px solid #CEB888;
    min-height: auto;
    min-width: 90%;
    padding: 10px;
    margin: 5px;
}

.mid-border {
    border: 6px solid #CEB888;
    min-height: 100%;
    min-width: 96%;
    padding: 6px;
    padding-right: 10px;
    margin: auto;
}

.inner-border {
    position: relative;
    border: 2px solid #CEB888;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
}


/* ===================== Logo ===================== */
.logo {
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding-top: 3px;
}

.logo img {
    width: 350px;
    height: 140px;
}