/*
    * Author:           IskaIV
    *
    * NoMatchingUserIVstyle.css
    * ------------------------
    * Style sheet for NoMatchingUser.html
*/


html,
body {
	height: max-content;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(#782F40, #74172d);
}

.outer-border {
	border: 2px solid #CEB888;
	height: max-content;
	min-width: 90%;
	padding: 10px;
	margin: 10px;
}

.mid-border {
	border: 6px solid #CEB888;
	min-height: 100vh;
	min-width: 96%;
	padding: 6px;
	margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid #CEB888;
	min-height: 100%;
	padding: 10px;
	margin: auto;
	margin-bottom: 100px;
}

.logo {
    text-align: center;
    margin: 10px;
}

.logo img {
    width: 70px;
    height: 70px;
}



.container {
    max-width: 500px;
    padding: 20px;
    border-style: inset;
    border-color: #CEB888;
    border-width: 3px;
    border-radius: 8px;
    margin: 100px auto;
    margin-bottom: 110px;
    background-color: #FFFFFF;
    box-shadow: #240108 2px 3px 7px 2px;
}