<!--
	Author: IskaIV.
	Summary: This is the template for the Error Screen.
-->

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error</title>
		<link rel="stylesheet" href="/static/ErrorIVstyle.css">
	</head>

	<body>
		<!-- ADD BORDER -->
		<!-- <div class="outer-border">
			<div class="mid-border">
				<div class="inner-border">
					Logo Place Holder
					<div class="logo"><img src="/static/Ask-A-Nole-Logo.png" /></div>
				</div>
			</div> -->

		<!-- Wrapper -->
		<div class="wrapper">
			<p>Something went wrong...</p>
			<p>Something went wrong...</p>
			<p>Something went wrong...</p>
			<!-- Return Button -->
			<a href="/"><button class="return-btn">Return to Login</button></a>
		</div>
	</body>

</html>