<!-- Iska -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ask-A-Nole Login</title>
        <link rel="stylesheet" href="/static/LoginIVstyle.css" />
    </head>

    <body>
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">

                    <!-- Logo Place Holder -->
                    <div class="logo"><img src="/static/Ask-A-Nole-Logo.png" />
                    </div>
                </div>

                <form action="{{url_for('welcome')}}" method="POST">

                    <div class="login-container">
                        <!-- Login Input Group -->
                        <div class="input-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="FSUID" placeholder="FSU ID" />
                        </div>

                        <div class="input-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="Password" placeholder="Password" />
                        </div>

                        <!-- Login Button -->
                        <button class="login-btn" type="submit" value="Login">Login</button>
                    </div>

                </form>

                <!-- Sign Up Option -->
                <div class="signup-container">
                    <p>Don't have an account?</p>
                    <a href="/signup"><button class="signup-btn">Sign Up</button></a>
                </div>
            </div>
        </div>
    </body>

</html>