<!-- Iska -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ask-A-Nole Login</title>
  <link rel="stylesheet" href="/static/LoginIVstyle.css" />
</head>

<body>
  <form action="{{url_for('welcome')}}" method="POST">
    <!-- Logo Place Holder -->
    <div class="logo">
      <img src="/static/Ask-A-Nole-Logo.png" />
    </div>

    <div class="login-container">
      <!-- Login Input Group -->
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="FSUID" placeholder="FSU ID" />
      </div>

      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" placeholder="Password" />
      </div>

      <!-- Login Button -->
      <button class="login-button" type="submit" value="Login">Login</button>
    </div>

  </form>

  <div class="signup-container">
    <!-- Sign Up Option -->
    <p>Don't have an account?</p>
    <a href="/signup"><button class="signup-button">Sign Up</button></a>
  </div>

</body>

</html>