<!--
    Author: IskaIV.
    Summary: This is the template for the Main Page.
 -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devicewidth, initial-scale=1.0" />
        <title>Main Page</title>
        <link rel="stylesheet" href="/static/MainPageIVstyle.css">
    </head>

    <body>
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">
                    <div class="logo"><img src="/static/Ask-A-Nole-Logo-Compact.png" /></div>
                </div>

                <div class="header">
                    <div class="user-actions">
                        <a href="/addpost"><button type="button">Add Post</button></a>
                        <a href="/messages"><button type="button">Messages</button></a>
                        <a href="/"><button type="button">Sign Out</button></a>
                    </div>
                </div>

                <div class="search-bar">
                    <form method="POST" action="/search">
                        <input class="search-bar-txt" type="text" name="" placeholder="Search..." name="searched">
                        <button class="search-bar-btn" type="submit">Search</button>
                    </form>
                </div>

                <div class="corners">
                    <div class="feed">



                        {% for post in posts %}
                        <div class="post__content">
                            <div class="post__top">
                                <h1> {{ post[1] }}</h1>
                            </div>
                            <article class="post">
                                <h2>{{ post[2] }}</a></h2>
                                <h3>{{ post[3] }}</h3>

                                <div class="goto-post">
                                    <a href="{{ url_for('post_detail', post_id=post[0]) }}">See More</a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}

                        <div class="post__footer">
                            <a href="#" class="footer-link">
                                <i class="footer-icon fas fa-comments"></i>
                            </a>
                            <a href="#" class="footer-link">
                                <i class="footer-icon fas fa-paw"></i>
                            </a>
                            <a href="#" class="footer-link">
                                <i class="footer-icon fas fa-share-square"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>

</html>