<!--
    Author: IskaIV.
    Summary: This is the template for the No Matching User Screen.
-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>No Matching User Screen</title>
        <link rel="stylesheet" href="/static/NoMatchingUserIVstyle.css">
    </head>

    <body>
        <!-- Border -->
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">
                    <!-- Logo Place Holder -->
                    <div class="logo">
                        <img src="/static/Ask-A-Nole-Logo-Compact.png" alt="Ask A Nole Logo">
                        
                        <img src="/static/Ask-A-Nole-Logo-Compact.png" alt="Ask A Nole Logo">
                    </div>
                </div>

                <div class="error-message">
                    <h1>No account found with that username and password</h1>
                    <p>Please check your credentials and try again.</p>
                    <div class="buttons">
                        <a href="/"><button>Try Again</button></a>
                        <a href="/signup"><button>Sign Up</button></a>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>